$linkedInBlue: #0077b5;
$black: #000000;
$white: #FFFFFF;
$darkGray: #313335;
$mediumGray: #86888A;
$lightGray: #CACCCE;

$primaryColour: #FFFFFF;
$secondaryColour: #000000;
$tertiaryColour: #0077b5;

$primaryColourD: #0f0f0f;
$secondaryColourD: #FFFFFF;

$dark: #0f0f0f;
$dark-border: #292929;
$white-hover: #f1f4fc;
$white-test: #dadadb;

$blue-700: rgba(0,119,220,1);
$blue-600: rgba(0,119,220,0.9);
$blue-500: rgba(59,130,246,1);
$blue-500-5:  rgba(59,130,246,0.5);
$blue: #00A0DC;
$blue-5: rgba(0,160,220,0.5);
$blue-4: rgba(0,160,220,0.4);
$blue-3: rgba(0,160,220,0.3);
$blue-2: rgba(0,160,220,0.2);
$blue-1: rgba(0,160,220,0.1);

$purple: #8D6CAB;
$purple-5: rgba(141,108,171,0.5);
$purple-4: rgba(141,108,171,0.4);
$purple-3: rgba(141,108,171,0.3);
$purple-2: rgba(141,108,171,0.2);
$purple-1: rgba(141,108,171,0.1);

$red: #DD5143;
$red-5: rgba(221,81,67,0.5);
$red-4: rgba(221,81,67,0.4);
$red-3: rgba(221,81,67,0.3);
$red-2: rgba(221,81,67,0.2);
$red-1: rgba(221,81,67,0.1);

$orange: #E68523;
$orange-5: rgba(230,133,35,0.5);
$orange-4: rgba(230,133,35,0.4);
$orange-3: rgba(230,133,35,0.3);
$orange-2: rgba(230,133,35,0.2);
$orange-1: rgba(230,133,35,0.1);
