@use 'colors.scss' as *;

.logo{
    height: 200px;
    filter: invert(36%) sepia(80%) saturate(6511%) hue-rotate(185deg) brightness(95%) contrast(101%);
}

.logo-md{
    @extend .logo;
    height: 150px;
}

.logo-sm{
    @extend .logo;
    height: 100px;
}

.dark{
    .logo{
        filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(256deg) brightness(107%) contrast(101%);
    }
}

.toggle{
    margin: 20px;
    height: 50px;
    
}

#dark{
    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(256deg) brightness(107%) contrast(101%);
}