@import './colors.scss';
@import url('http://fonts.cdnfonts.com/css/flama-light');


.light{

    width: 100%;
    padding-bottom: 40px;
    .text
    {
        margin: 0px;
        color: $black;
        font-family: 'Flama Light', sans-serif;
    }

    .bg
    {
        background-color: $white;
    }

    #sbg
    {
        background-color: $lightGray;
    }

}

.dark{

    width: 100%;
    padding-bottom: 40px;
    .text
    {
        margin: 0px;
        color: $white;
        font-family: 'Flama Light', sans-serif;
    }

    .bg
    {
        background-color: $black;
        
    }

    .sbg
    {
        background-color: $dark;
    }
    
}