@use 'colors.scss' as *;

.modal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    z-index: 5;
}

.modal-post{
    @extend .modal;
    
    padding-top: 250px;
    padding-bottom: 100px;
}

.create-post-modal{
    width: 60%;
    height: fit-content;
    border-radius: 20px;
    padding: 1%;
    #user-icon{
        border-radius: 100px;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        // padding: 2%;
        
    }

    #title{
        font-size: 25px;
    }

    .icon{    
        height: 30px;
        padding: 2px;
    }

    .file-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        #image-post{
            max-height: 250px;
        }
        .files{
            width: fit-content;
            align-self: center;
        }
        #btn-remove{
            padding: 2px;
            width: 10%;
            height: 50%;
            border-radius: 30px;
            text-align: center;
            align-self: center;
            padding: 5px;

            margin-bottom: 20px;
            margin-top: 20px;
            cursor: pointer;

            background-color: rgb(253, 89, 89);

        }
    }


    #close{
        border: solid $white;
        border-radius: 70px;
        opacity: 0.7;
        cursor: pointer;
        
        &:hover{
            opacity: 1;
            border: solid;
            
        }
    }

    #button{
        padding: 5px;
        margin-right: 20px;
        opacity: 0.7;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
        input{
            display: none;
        }
    }

    .buttons{
        margin-top: 10px;
    }

    #errorMsg{
        margin-top: 10px;
        color: rgb(235, 32, 32);
        text-align: center;
        font-size: 20px;
    }

    #header-user{
        margin-top: 2px;
        margin-bottom: 10px;
        
        #username{
            font-size: 16px;
            font-weight:bolder;
        }
    }

    .footer-modal{
        display: flex;
        justify-content: space-between;
        
        #btn-post{
            padding: 0px;
            width: 10%;
            height: 50%;
            border-radius: 20px;
            text-align: center;
            align-self: center;
            padding: 5px;
            cursor: pointer;

            background-color: $blue-5;
            &:hover{
                background-color: $blue;
            }
        }
    }



    .create-input{
        border-color: $white;
        // width: 100%;
        height: 200px;
        resize: none;
        padding: 10px;
    }
}

.profile-modal{
    @extend .create-post-modal;

    .content{
        display: flex;
        align-items: center;

        #loading{
            margin-right: 20px;
        }

        #user-icon{

            border-radius: 50px;
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }

        #company-logo{
            height: 120px;
            margin-right: 20px;
        }

        #btn-change-profile-image{
            color: $white;
            background-color: $blue-500;
            padding: 10px;
            width: fit-content;
            border-radius: 20px;
            border: solid 1px;
            border-color: $white;
            cursor: pointer;
            &:hover{
                border-color: RGBA(0,70,255,1);
            }

            input{
                display: none;
            }
        }
    }

    #close{
        filter: none;
    }

    #errorMsg{
        color: rgb(235, 32, 32);
        text-align: center;
        font-size: 20px;
    }

    .input-block{
        width: 100%;
        #input-label{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }
        .input-update{
            width: 95%;
            padding: 5px;
            font-size: 20px;
        }

        .area{
            resize: none;
        }
    }

    .date-container{
        width: 100%;
        display: flex;
        .input-update{
            width: 80%;
            font-size: 20px;
        }
    }

    .footer-modal{
        justify-content: end;
        padding: 0;
        margin-top: 20px;
    }
    
    #btn-addnew{
        padding: 0px;
        width: 10%;
        height: 50%;
        border-radius: 20px;
        text-align: center;
        justify-self: flex-end;

        padding: 5px;
        cursor: pointer;

        background-color: $linkedInBlue;
        &:hover{
            background-color: $blue;
        }
    }
    
}

.dark{
    #image{
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(324deg) brightness(105%) contrast(103%);
    }

    #video{
        filter: invert(99%) sepia(27%) saturate(314%) hue-rotate(181deg) brightness(115%) contrast(100%);
    }
    
    #close{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(211deg) brightness(104%) contrast(101%);

    }
}
