@use 'colors.scss' as *;
@use 'home.scss' as *;
@use 'modal.scss' as *;

.profile{
    @extend .home-profile;
    position:relative;
    margin-top: 100px;
    width: 60%;

    #background-img{
        width: 100%;
        max-height: 200px;
    }
    #user-icon{
        margin-top: -20%;
        height: 100px;
        margin-left: 20px;
    }

    
    .button-bg{
        position: absolute;
        top: 2%;
        right: 2%;
        background-color: $white;
        padding: 5px;
        border-radius: 70px;
        border: solid 1px;
        border-color: $white;
        opacity: 0.7;
        cursor: pointer;
        &:hover{
            opacity: 1;
            border-color: RGBA(0,70,255,1);
        }

        input{
            display: none;
        }
    }

    .button-edit{
        position: relative;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;

        #edit{
            filter: none;
            opacity: 0.7;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }

    #edit{
        padding: 0%;
        margin: 0%;
        height: 30px;
        filter: invert(17%) sepia(56%) saturate(5989%) hue-rotate(226deg) brightness(105%) contrast(117%);
    }

    #camera{
        @extend #edit;
    }

    .profile-data{
        margin-bottom: 20px;
        margin-left: 20px;

    
        #username{
            font-size: 25px;
            font-weight: 700;
        }
    
        #education{
            color: $black;
        }
     
        #connection{
            color: $blue;
            font-weight: 700;
        }
    }

    .views{
        padding: 15px;

        #view-text{
            text-align: right;
            font-size: 18px;
        }
    }

    #profile-icon{
        @extend #user-icon;
        width: 100px;
    }

    .useful-btn{
        margin: 30px;
        display: flex;
        .btn{
            cursor: pointer;
            width: fit-content;
            border: solid $linkedInBlue;
            border-radius: 20px;
            padding: 10px;

            &:hover{
                background-color: $linkedInBlue;
            }
            margin-right: 10px;
            text-decoration: none;
        }

        #followed{
            cursor:grab;

            background-color: $linkedInBlue;
        }
    }
    
}


.profile-component{
    @extend .profile;
    margin-top: 20px;

    

    .header-component{
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        #sub-title{
            font-size: 20px;
            font-weight: bold;
        }
        #btn-add{
            height: fit-content;
            justify-self: flex-end;
            padding: 0;
            opacity: 1;
            cursor: pointer;
            #add{
                height: 40px;
            }

            :hover{
                opacity: 0.7;
            }
        }
    }

    .item-component{
        .item{
            display: flex;
            justify-content: space-between;
            padding: 10px;

            #title{
                font-size: 20px;
                font-weight: 600;
            }

            #secondary{
                font-size: 15px;
            }

            #tertiary{
                font-size: 14px;
                opacity: 0.8;
            }

            #quartery{
                font-size: 12px;
                opacity: 0.5;
            }
            .btn-contain{
                align-self: flex-start;
                display: flex;
                justify-content: flex-end;

                .btn-edit-round{
                    width: fit-content;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    border: solid;
                    border-radius: 20px;
                    cursor: pointer;
                    #edit{
                        margin-left: 10px;
                        filter: none;
                    }
                }
            }
            
        }
        
    }
}

.dark{
    .profile{
        #user-icon{
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(211deg) brightness(104%) contrast(101%);
        }

        .profile-data{
            #education{
                color: $white;
            }
        }

        .button-edit{
            #edit{
                filter: invert(100%) sepia(0%) saturate(4754%) hue-rotate(230deg) brightness(101%) contrast(110%);
            }
        }
        
        #profile-icon{
            border-color: black;          
            filter: none;
        }
    
    }
}